<div
  class="panel panel-default pin-panel">
    <div class="panel-body pin-image">
      <img class="focal-img" src="<%= pin.escape('url') %>">
    </div>
    <div
      class="panel-body pin-desc">
      <p><%= pin.escape('description')%></p>
    </div>
    <div class="panel-footer" id="thumb-panel-footer">
      <img class="pin-user " src="<%= pin.escape('pinner_img')%>">
      <p class="pinner">Pinned by <%= pin.escape('username') %></p>
    </div>
</div>


<!-- Modal for Larger Pin View-->
<div class="modal fade" id="pinZoom">
  <!-- <div class="modal-dialog modal-lg"> -->
    <div class="modal-content pinContent">
      <div class="modal-body pinLg">
        <img id="pin-img" src="<%= pin.escape('url') %>">
      </div>
      <div class="panel-body">
        <p id="desc"><%= pin.escape('description')%></p>
      </div>
      <div id="pinner-id" class="pinner-id modal-footer">
        <img class="pin-user-img" src="<%= pin.escape('pinner_img')%>">
        <p class="pinner"><%= pin.escape('username') %></p>
      </div>
    </div> <!-- Close of modal-content -->
  <!-- </div> --> <!-- Close of modal-dialog -->
</div> <!-- Close of modal -->



