  <a href="#/users/<%= board.get('user_id') %>/boards/<%= board.id %>">
    <div class="index-panel">
      <div class="panel panel-default board-panel">
        <div class="board-item-title">
          <h5><%= board.escape('title') %></h5>
        </div>
        <div class="hero-image">
          <% if (board.pins) { %>
          <img src="<%= board.get('pin_urls')[0].url %>">
          <% } %>
        </div>
        <div class="board-small-image-set">
          <img src="<%= board.get('pin_urls')[1].url %>">
          <img src="<%= board.get('pin_urls')[2].url %>">
          <img src="<%= board.get('pin_urls')[3].url %>">
          <img src="<%= board.get('pin_urls')[4].url %>">
        </div>
        <a
          href="#"
          class="btn btn-default"
          id="edit-board-btn"
          role="button">
          Edit
        </a>
      </div>
    </div>
  </a>