<div class="container-fluid user-profile">

  <div class="row header-container">

    <div class="index-header col-md-12 col-sm-12">
      <div class="col-md-2 col-sm-2 user-image">
        <img
          src="../assets/petry-550-440.jpg"
          class="img-responsive">
      </div>

      <div class="col-md-5 col-sm-5 user-name">
        <div class="userName">
          <h2><%= user.escape('username').capitalize() %></h2>
        </div>
        <div class="userDescription">
          <p><%= user.escape('description') %></p>
        </div>
        <div class="userLocation">
          <span class="glyphicon glyphicon-map-marker"></span>
          <h5><%= user.escape('location') %></h5>
        </div>
      </div>

      <div class="col-md-3 col-sm-2 side-note">
          <h5>More</h5>
          <h5>Info</h5>
          <h5>Here</h5>
          <h5>WHOOP</h5>
      </div>

    </div> <!-- Close of Index Header-->
  </div> <!-- Close of header-container -->

  <div class="row">
    <div class="btn-group large-section-divider col-md-12">
      <button
        type="button"
        class="btn btn-default board-count">
        <p><%= user.get('board_count') %> Boards</p>
      </button>
      <button
        type="button"
        class="btn btn-default">
        <p><%= user.get('pin_count') %> Pins</p>
      </button>
      <button
        type="button"
        class="btn btn-default">
        <p>No Likes!</p>
      </button>
      <span id="wide">
        <% if (user.id != current_user) { %>
          <button
          class="btn btn-danger red-button #user-follow-button"
          id="user-follow-button">
            Follow User
          </button>
        <% } %>
      </span>
      <button
        type="button"
        id="long-btn"
        class="btn btn-default">
        <p><%= user.get('follower_count') %> Followers</p>
      </button>
      <button
        type="button"
        id="long-btn"
        class="btn btn-default">
        <p><%= user.get('following_count') %> Following</p>
      </button>
    </div>
    </div>
</div>

<div class="container index-itms">
  <div>
    <div id="board-items"></div>
  </div>
</div>
