<div class="container-fluid">
  <div id="about-user" class="row">
    <div class="col-md-12 user-image-col">
      <img
        src="<%= user.escape('url') %>"
        class="user-image">
    </div> <!-- Close of .user-image-col -->
    <div class="col-md-12 fixed-header">
      <div class="on-scroll">
        <img
          src="<%= user.escape('url') %>"
          class="small-user-image">
        <h3 class="small-user-name"><%= user.escape('username').capitalize() %></h3>
      </div> <!-- Close of .on-scroll -->
      <% if (user.id == current_user) { %>
      <button
        class="btn btn-default"
        id="edit-user-profile"
        data-toggle='modal'
        data-target='#editUserModal'>
        Edit Profile
      </button>
      <% } else { %>
        <button
          class="btn btn-danger red-button"
          id="user-follow-button"
          data-follow-state="<%= (user.get('current_follow') > 0) ? "followed" : "unfollowed" %>">
        </button>
      <% } %>
    </div> <!-- Close of .fixed-header -->
    <h1 class="user-name"><%= user.escape('username').capitalize() %></h1>
    <div class="location-wrapper">
      <span class="glyphicon glyphicon-map-marker"></span>
      <h5 class="user-location"><%= user.escape('location') %></h5>
    </div> <!-- Close of .location-wrapper -->
    <p><%= user.escape('description') %></p>

  </div> <!-- Close of #about-user -->
  <div id="counts-row" class="row">
    <div class="col-md-12 counts">
      <ul>
        <li>
          <a
            href="/#/users/<%= user.id %>"
            id="board_count">
            <span class="value"><%= user.get('boards_count') %></span>
            <span class="label">Boards</span>
          </a>
        </li>
        <li>
          <a
            href="/#/users/<%= user.id %>/pins"
            id="pin-count">
            <span class="value"><%= user.get('pin_count') %></span>
            <span class="label">Pins</span>
          </a>
        </li>
        <li>
          <a
            href="/#/users/<%= user.id %>/followers"
            id="follower-count">
            <span class="value"><%= user.get('follower_count') %></span>
            <span class="label">Followers</span>
          </a>
        </li>
        <li>
          <a
            href="/#/users/<%= user.id %>/following"
            id="following-count">
            <span class="value"><%= user.get('following_count') %></span>
            <span class="label">Following</span>
          </a>
        </li>
    </ul>

    </div> <!-- Close of .counts -->
  </div> <!-- Close of #counts -->
</div> <!-- Close of container-fluid -->


<div class="container index-itms">
  <div>
    <div id="board-items"></div>
    <div id="pin-items"></div>
    <div id="user-items"></div>
  </div>
</div>



<!-- Edit User Modal -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUser" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form role="form" id="edit-user-form" class="form-horizontal">
        <div class="modal-header">
        <button type="button"
          class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="editBoard">Edit Profile</h4>
      </div> <!-- Close modal header -->

        <div class="modal-body edit-board-form-body">
          <div class="form-group">
            <label
              for="user-image"
              class="col-sm-2 control-label">
              Picture
            </label>
            <div id="user-img">
              <img src="<%= user.escape('url') %>">
            </div>
            <input
              type="filepicker"
              data-fp-mimetype="image/*"
              name="image[url]"
              data-fp-button-text="Change Picture"
              data-fp-button-class="btn btn-default upload-img">
          </div>
          <div class="form-group">
            <label
              for="board-desc"
              id="about-you"
              class="col-sm-2 control-label">
              About You
            </label>
            <div class="col-sm-10">
                <textarea
                  class="form-control"
                  id="user-desc"
                  name="user[description]"><%= user.escape('description') %></textarea>
            </div>
          </div>
          <div class="form-group">
            <label
              for="user-location"
              class="col-sm-2 control-label">
              Location
            </label>
            <div class="col-sm-10">
              <input
                type="text"
                class="form-control"
                id="user-location"
                name="user[location]"
                value="<%= user.escape('location') %>">
            </div>
          </div>

        </div> <!-- Close modal body -->

        <div class="modal-footer edit-board-form-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal">
            Cancel
          </button>
          <button
            type="submit"
            id="submit-user-edit-form"
            class="btn btn-danger red-button">
            Save Profile
          </button>
        </div> <!-- Close modal footer -->
      </form>

    </div> <!-- Close of modal content -->
  </div> <!-- Close of modal dialog -->
</div> <!-- Close of top-level modal div -->

<script>
$(window).scroll(function() {
    if ($(this).scrollTop() > 100) {
        $('.on-scroll').fadeIn();
    } else {
        $('.on-scroll').fadeOut(300);
    }
    });
</script>