<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
<div id="nav-backdrop">

  <header>
    <div class="left">
      <div id="pin-button">
        <a
          href="/"
          type="button"
          class="btn btn-default pin-logo">
          <img src="../assets/pinterest-logo.png">
        </a>
      </div> <!-- Close of .pin-button -->
      <div id="wider" class="btn btn-default"></div>
      <button
        type="button"
        class="btn btn-default pin-menu dropdown-toggle"
        id="category-list"
        data-toggle="dropdown">
      <img src="../assets/pinterest-menu.png">
      </button>
      <ul
        class="dropdown-menu dropdown-menu-right cats"
        role="menu"
        aria-labelledby="#category-list">
        <li role="presentation">
          <a
            role="menuitem"
            tabindex="-1">
            Filter By:
          </a>
        </li>
        <% GlobalConstants::CATEGORIES.each do |cat| %>
          <li role="presentation">
            <a
              role="menuitem"
              tabindex="-1"
              href="#/search/<%= cat %>">
              <%= cat %>
            </a>
          </li>
        <% end %>
      </ul>
    </div> <!-- Close of .left -->

    <div class="right">
      <div class="current-user btn btn-default">
        <a
          href="#/users/<%= current_user.id %>">
          <img
            class="current-user-image"
            src="<%= current_user.image.url %>">
          <% if current_user %>
          <p class="username"><%= current_user.username %></p>
          <% end %>
        </a>
      </div> <!-- Close of .current-user -->
      <ul
        class="dropdown-menu dropdown dropdown-menu-right log-about"
        role="menu"
        aria-labelledby="#log-out">
        <li role="presentation">
          <%= link_to 'Log Out', session_url, :method => :delete %>
        </li>
        <li role="presentation">
          <a
            data-toggle="modal"
            id="about"
            data-target="#aboutMe">
            About Anna Petry
          </a>
        </li>
      </ul>

      <button
        class="btn btn-default dropdown-toggle"
        type="button"
        id="log-out"
        data-toggle="dropdown">
        <img src="../assets/pinterest-pin.png">
      </button>

  </div> <!-- Close of .right -->

  </header>
</div> <!-- Close of #nav-backdrop -->
</nav>



<!-- About Me Modal -->
<div class="modal fade" id="aboutMe" tabindex="-1" role="dialog" aria-labelledby="aboutP" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body pinLg">
        <img src="../assets/petry-300-400.jpg">
      </div> <!-- Close modal body -->

      <div class="modal-footer" id="aboutMe">
        <p>I’m a <span>developer</span>, a <span>designer</span>, & a <span>maker</span>. My approach to design is thoughtful & thorough, communicative & collaborative. Contact me at <span>hello at annapetry dot com</span></p>
      </div> <!-- Close modal footer -->

    </div> <!-- Close of modal content -->
  </div> <!-- Close of modal dialog -->
</div> <!-- Close of top-level modal div -->






