<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="nav">
<div id="nav-backdrop">

  <div class="btn-group header-left">
    <a
      href="/"
      type="button"
      class="btn btn-default pin-logo">
      <img src="../assets/pinterest-logo.png">
    </a>
    <span id="wider"></span>
    <button
      type="button"
      class="btn btn-default pin-menu dropdown-toggle"
      id="category-list"
      data-toggle="dropdown">
    <img src="../assets/pinterest-menu.png">
    </button>
    <ul
      class="dropdown-menu dropdown-menu-right cats"
      role="menu"
      aria-labelledby="#category-list">
      <li role="presentation">
        <a
          role="menuitem"
          tabindex="-1">
          Filter By:
        </a>
      </li>
      <% GlobalConstants::CATEGORIES.each do |cat| %>
        <li role="presentation">
          <a
            role="menuitem"
            tabindex="-1"
            href="#/search/<%= cat %>">
            <%= cat %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="header-right">
      <div class="right-side">
          <a
            href="#/users/<%= current_user.id %>"
            type="button"
            class="btn btn-default username">
            <img src="<%= current_user.image.url %>">
            <% if current_user %>
            <p><%= current_user.username %></p>
            <% end %>
          </a>
        <div class="btn-group">
          <ul
            class="dropdown-menu dropdown dropdown-menu-right"
            role="menu"
            aria-labelledby="#log-out">
            <li role="presentation">
              <%= link_to 'Log Out', session_url, :method => :delete %>
            </li>
            <li
              role="presentation"
              data-toggle="modal"
              data-target="#aboutMe">
              About Me
            </li>
          </ul>

          <button
            class="btn btn-default dropdown-toggle"
            type="button"
            id="log-out"
            data-toggle="dropdown">
            <img src="../assets/pinterest-pin.png">
          </button>
          </div>

      </div> <!-- Close of btn-group header-right-->
  </div>
</div>
</nav>



<div class="modal fade" id="aboutMe" tabindex="-1" role="dialog" aria-labelledby="aboutMe" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <button type="button"
          class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="aboutMe">About Anna Petry</h4>
      </div> <!-- Close modal header -->
        <div class="modal-body">
          <div class="petryInfo">
            <img id="petry-img" src="../assets/petry-200.jpg">
            <p id="aboutP">
              I’m a developer, a designer, and a maker.
              My approach to design is thoughtful and thorough, communicative and collaborative. I'd love to hear from you! Drop me a line at hello at annapetry dot com.
            </p>
          </div>

        </div> <!-- Close modal body -->
    </div> <!-- Close of modal content -->
  </div> <!-- Close of modal dialog -->
</div> <!-- Close of top-level modal div -->







