<!DOCTYPE html>
<html>
<head>
  <title>Pintrospective</title>
  <script>
    <% if current_user %>
      CURRENT_USER_ID = <%= current_user.id %>;
      CATEGORIES = <%= GlobalConstants::CATEGORIES.to_s.html_safe %>
    <% end %>
  </script>

  <%= filepicker_js_include_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link
    rel="shortcut icon"
    type="image/ico"
    href="../assets/pinterest-logo.png" />
</head>
<body>

<% if current_user %>
  <%= render partial: "layouts/header" %>
<% end %>

<% if flash[:errors] %>
  <div class="alert alert-warning alert-dismissible" role="alert">
     <button
       type="button"
       class="close"
       data-dismiss="alert">
       <span aria-hidden="true">&times;</span>
       <span class="sr-only">Close</span>
     </button>
    <%= flash[:errors].join("<br>").html_safe %>
  </div>
<% end %>

<div id="view">
  <%= yield %>
</div>

<script>
 filepicker.setKey("AHIIwnSp2QTOsC0xg6g96z");
</script>

</body>
</html>