<!DOCTYPE html>
<html>
<head>
  <title>Pintrospective</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= filepicker_js_include_tag %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/header" %>

<div id="view" class="container">
  <%= yield %>
</div>

 <script>
 filepicker.setKey("<%= Rails.application.config.filepicker_rails.api_key %>")
 </script>

</body>
</html>